* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #330000;
}

/*class*/
.title {
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
}

.welcome_img {
	margin: 50px auto;
	display: flex;
	justify-content: center;
}

.navbar {
	margin-top: 0px;
	display: flex;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}
	
.navbar_content{
	display: flex;
	margin-left: auto;
	margin-right: 10px;
	gap: 15px;
}

.navbar_content li {
	width: 100px;
	padding-top: 15px;
	text-align: center;
}

.navbar_content a {
	height: 60px;
}

.about_title {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

.about_me_image {
	margin-left: 190px;
	margin-top: 70px;
}

.ovf_content {
	float: right;
	word-spacing: 5px;
	width: 370px;
	height: 350px;
	overflow: auto;
	margin-top: 50px;
	margin-right: 150px;
}

.ovf_content p {
	padding-top: 3px;
	padding-left: 3px;
}

.skill_page h1 {
	margin: 100px auto;
	margin-bottom: 75px;
	display: flex;
	justify-content: center;
}

.icon_cont {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 100px;
}

.icon_cont2 {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}

.contact {
	margin-top: 150px;
}

.twt_img {
	padding-top: 5px;
	padding-left: 5px;
	display: flex;
	float: left;
}

.twtbtn {
	width: 245px;
}

.twtbtn p{
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: center;
}

.contact-content {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 50px;
}

.ig_img {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}

.igbtn {
	width: 245px;
}

.igbtn p{
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: center;
}

.git_img {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.gitbtn {
	width: 245px;
}

.gitbtn p{
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: center;	
}

/*id*/
#title {
	font-size: 35px;
	width: 150px;
}

#navbar {
	border-bottom: 2px solid;
	background-color: #660000;
}

#navbar_content {
	font-size: 25px;
}

#navbar_content a{
	color: black;
	text-decoration: none;
	width: 50px;
}

#navbar_content li:hover {
	background-color: black;
}

#navbar_content li:hover a{
	color: white;
}

#about_title {
	width: 170px;
}

#about_me_image {
	width: 24.5%;
	border-radius: 5%;
	box-shadow: 10px 10px #888;
}

#about_me p {
	font-size: 21px;
	border: 1px solid black;
	border-radius: 5px;
}

#welcome_img {
	width: 40%;
}


#twt_img {
	width: 20%;
	border-radius: 50%;
}	

#twtbtn {
	border-radius: 20px;
}

#twtbtn:hover {
	background-color: lightgray;
}

#twtbtn:active {
	background-color: white;
}

#twtbtn p {
	font-size: 19px;
}

#ig_img {
	width: 22%;
}

#igbtn {
	border-radius: 20px;
}

#igbtn:hover {
	background-color: lightgray;
}

#igbtn:active {
	background-color: white;
}

#igbtn p{
	font-size: 19px;
}

#git_img {
	width: 20%;
}

#gitbtn {
	border-radius: 20px;
}

#gitbtn:hover {
	background-color: lightgray;
}

#gitbtn:active {
	background-color: white;
}

#gitbtn p{
	font-size: 19px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

